.contact-section{
  height: calc(100vh - 78px - 60px);
  background-color: var(--white);
  color: var(--navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-section h1{
  font-size: 56px;
}
.icon-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.icon{
  width: 60px;
}
.hyperlink{
  margin: 2rem;
}
@media screen and (max-width: 600px){
  .contact-section h1{
    font-size: 40px;
  }
}