*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Tahoma, Verdana;
}
:root{
  font-size: 16px;
  --light-navy: #122b50;
  --navy: #021433;
  --dark-gray: lightgray;
  --white: rgb(216, 216, 216);
  --slate: #8892b0;
}
.anchor{
  align-self: flex-start;
  position: relative;
  top: -76px;
}
a:link {
  color: var(--white);
}
h1{
  font-size: 44px;
}